---
interface Props {
  title: string;
  description?: string;
}

const { title, description = "A list of all the US presidents, arbitrarily ranked by @seldo" } = Astro.props;
const siteTitle = "US Presidents, Ranked";
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@seldo" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://presidents.fyi/presidents/1.jpg" />
  </head>
  <body>
    <div class="page">
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
<style is:global>
  @import "../styles/global.css";
</style>
